In [1]:
import boto3
import pandas as pd
import numpy as np
import psycopg2
import configparser

## LEEMOS ARCHIVOS

In [2]:
config = configparser.ConfigParser()
config.read('config.cfg')

['config.cfg']

In [3]:
config.get('IAM','ACCES_KEY')

'AKIATCKAMRUHFECD3KOD'

## Nos identificamos con AWS

In [4]:
aws_rds_conn = boto3.client('rds', aws_access_key_id=config.get('IAM','ACCES_KEY'),
                            aws_secret_access_key=config.get('IAM','SECRETE_ACCES_KEY'),
                            region_name='us-east-1')

## Verificamos instancias de AWS disponibles en el usuario

In [5]:
rds_instances_ids =[]
aws_response= aws_rds_conn.describe_db_instances()

for response in aws_response ['DBInstances']:
    rds_instances_ids.append(response['DBInstanceIdentifier'])
print(f" Instancias Disponilbes:{rds_instances_ids}")

 Instancias Disponilbes:['banco-transactional', 'venta-transactional']

In [6]:
config.get('TRANSACC','DB_INSTANCE_ID')

'venta-transactional'

In [7]:
config.get('TRANSACC','DB_USER')

'postgres_admin'

In [8]:
try:
    response = aws_rds_conn.create_db_instance(
        DBInstanceIdentifier=config.get('TRANSACC', 'DB_INSTANCE_ID'),
        DBName=config.get('TRANSACC', 'DB_NAME'),
        DBInstanceClass='db.t3.micro',
        Engine='postgres',
        MasterUsername=config.get('TRANSACC', 'DB_USER'),
        MasterUserPassword=config.get('TRANSACC', 'DB_PASSWORD'),
        Port=int(config.get('TRANSACC', 'DB_PORT')),
        PubliclyAccessible=True,
        VpcSecurityGroupIds=[config.get('VPC', 'SECURITY_GROUP')],
        AllocatedStorage=15
    )
    print(response)
except aws_rds_conn.exceptions.DBInstanceAlreadyExistsFault as ex:
    print("La instancia ya existe")
except Exception as ex:
    print("Error!!!", ex)

La instancia ya existe

## Obtenemos el hostname de la instancias

try:
    instance = aws_rds_conn.describe_db_instances(DBInstanceIdentifier=config.get('TRANSACC', 'DB_INSTANCE_ID'))
    RDS_HOSTNAME = instance.get('DBInstances')[0].get('Endpoint').get('Address')
    print(RDS_HOSTNAME)
except Exception as ex:
    print("Error!!!", ex)

## Nos conectamos a la base de datos desde Python

In [34]:
import sql_queries
sql_queries.DDL_QUERY

'\n-- create database venta;\n-- Creación de la tabla categoria\nCREATE TABLE categoria (\n    idcategoria serial PRIMARY KEY,\n    nombre VARCHAR(50) NOT NULL,\n    descripcion VARCHAR(255),\n    estado BOOLEAN\n);\n\n-- Creación de la tabla articulo\nCREATE TABLE articulo (\n    idarticulo serial PRIMARY KEY,\n    idcategoria INTEGER REFERENCES categoria(idcategoria),\n    codigo VARCHAR(50) NOT NULL,\n    nombre VARCHAR(100) NOT NULL,\n    precio_venta DECIMAL(11,2),\n    stock INTEGER,\n    descripcion VARCHAR(255),\n    imagen VARCHAR(20),\n    estado BOOLEAN\n);\n\n-- Creación de la tabla persona\nCREATE TABLE persona (\n    idpersona serial PRIMARY KEY,\n    tipo_persona VARCHAR(20) NOT NULL,\n    nombre VARCHAR(100) NOT NULL,\n    tipo_documento VARCHAR(20),\n    num_documento VARCHAR(20),\n    direccion VARCHAR(70),\n    telefono VARCHAR(20),\n    email VARCHAR(50)\n);\n-- Creación de la tabla rol\nCREATE TABLE rol (\n    idrol serial PRIMARY KEY,\n    nombre VARCHAR(30) NOT NULL,\n    descripcion VARCHAR(255),\n    estado BOOLEAN\n);\n-- Creación de la tabla usuario\nCREATE TABLE usuario (\n    idusuario serial PRIMARY KEY,\n    idrol INTEGER REFERENCES rol(idrol),\n    nombre VARCHAR(100) NOT NULL,\n    tipo_documento VARCHAR(20),\n    num_documento VARCHAR(20),\n    direccion VARCHAR(70),\n    telefono VARCHAR(20),\n    email VARCHAR(50),\n    clave BYTEA ,\n    estado BOOLEAN\n);\n\n\n\n-- Creación de la tabla venta\nCREATE TABLE venta (\n    idventa serial PRIMARY KEY,\n    idcliente INTEGER REFERENCES persona(idpersona),\n    idusuario INTEGER REFERENCES usuario(idusuario),\n    tipo_comprobante VARCHAR(20),\n    serie_comprobante VARCHAR(7),\n    num_comprobante VARCHAR(10),\n    fecha TIMESTAMP,\n    impuesto DECIMAL(4,2),\n    total DECIMAL(11,2),\n    estado VARCHAR(20)\n);\n\n-- Creación de la tabla detalle_venta\nCREATE TABLE detalle_venta (\n    iddetalle_venta serial PRIMARY KEY,\n    idventa INTEGER REFERENCES venta(idventa),\n    idarticulo INTEGER REFERENCES articulo(idarticulo),\n    cantidad INTEGER,\n    precio DECIMAL(11,2),\n    descuento DECIMAL(11,2)\n);\n\n-- Creación de la tabla ingreso\nCREATE TABLE ingreso (\n    idingreso serial PRIMARY KEY,\n    idproveedor INTEGER REFERENCES persona(idpersona),\n    idusuario INTEGER REFERENCES usuario(idusuario),\n    tipo_comprobante VARCHAR(20),\n    serie_comprobante VARCHAR(7),\n    num_comprobante VARCHAR(10),\n    fecha TIMESTAMP,\n    impuesto DECIMAL(4,2),\n    total DECIMAL(11,2),\n    estado VARCHAR(20)\n);\n\n-- Creación de la tabla detalle_ingreso\nCREATE TABLE detalle_ingreso (\n    iddetalle_ingreso serial PRIMARY KEY,\n    idingreso INTEGER REFERENCES ingreso(idingreso),\n    idarticulo INTEGER REFERENCES articulo(idarticulo),\n    cantidad INTEGER,\n    precio DECIMAL(11,2)\n); '

In [35]:
try:
    db_pg_conn = psycopg2.connect(
        database=config.get('TRANSACC', 'DB_NAME'),
        user=config.get('TRANSACC', 'DB_USER'),
        password=config.get('TRANSACC', 'DB_PASSWORD'),
        host=RDS_HOSTNAME,
        port=config.get('TRANSACC', 'DB_PORT')
    )

    cursor = db_pg_conn.cursor()
    cursor.execute(sql_queries.DDL_QUERY)
    db_pg_conn.commit()
    print("Base de Datos Creada Exitosamente")
except Exception as ex:
    print("Error!!!", ex)

Base de Datos Creada Exitosamente

## Insertamos datos en la BD

In [118]:
def insertData2SQL(data_dict,table_name, diver):
    df_data = pd.DataFrame.from_records(data_dict)
    try:
        response = df_data.to_sql(table_name, postgres_driver, index=False, if_exists='append')
        print(f"Se han insertado {response} nuevos registros")
    except Exception as ex:
        print(ex)

In [119]:
driver = f"""postgresql://{config.get('TRANSACC', 'DB_USER')}:{config.get('TRANSACC', 'DB_PASSWORD')}@{RDS_HOSTNAME}:{config.get('TRANSACC', 'DB_PORT')}/{config.get('TRANSACC', 'DB_NAME')}"""  
driver

'postgresql://postgres_admin:W8GB7F4Tks6-bJy@banco-transactional.cpiqciaig8ih.us-east-1.rds.amazonaws.com:5432/banco'

In [120]:
data_tipo_transacciones = [
    {'id_tipo_transac': 85095, 'tipo_transaccion': 'Depósito'},
    {'id_tipo_transac': 85098, 'tipo_transaccion': 'Retiro'},
    {'id_tipo_transac': 85194, 'tipo_transaccion': 'Transferencia'},
    {'id_tipo_transac': 85133, 'tipo_transaccion': 'Pago Prestamo'}
]

# insertamos data en tabla tipo_transaccione
insertData2SQL(data_tipo_transacciones, 'tipo_transacciones', driver)

Se han insertado 4 nuevos registros